<!-- 導航欄左側 -->
<div id="blog_name" >

    <th:block th:if="${not #strings.isEmpty(theme.config.nav.leftMenu) && theme.config.nav.menus.pc_leftMenu}"
              th:with="leftMenu = ${menuFinder.getByName(theme.config.nav.leftMenu)}">
        <!-- 選單欄左側按鈕，沒有配置時，則不展示-->
        <div class="back-home-button" tabindex="-1"
             th:if="${not #lists.isEmpty(leftMenu)}">

            <i class="back-home-button-icon haofont hao-icon-apps-fill" style="font-size: 1rem"></i>
            <div class="back-menu-list-groups">
                <div class="back-menu-list-group" th:each="menuItem : ${leftMenu.menuItems}">
                    <!-- 菜單必須有子項才會展示 -->
                    <th:block th:if="${not #lists.isEmpty(menuItem.children)}">
                        <div class="back-menu-list-title" th:text="${menuItem.status.displayName}"></div>
                        <div class="back-menu-list">
                            <th:block th:each="childMenu : ${menuItem.children}">
                                <a class="back-menu-item" rel="external nofollow"
                                   th:target="${childMenu.spec.target?.value}" th:href="@{${childMenu.status.href}}">
                                    <!-- icon 預留 -->
                                    <img th:if="${!#strings.isEmpty(#annotations.getOrDefault(childMenu, 'icon', ''))}"
                                         class="back-menu-item-icon"
                                         th:src="${#annotations.getOrDefault(childMenu, 'icon', '')}">
                                    <span class="back-menu-item-text" th:text="${childMenu.status.displayName}"></span>
                                </a>
                            </th:block>
                        </div>
                    </th:block>

                </div>
            </div>
        </div>
    </th:block>
    <!-- 返回首頁 -->
    <!-- 這裡可以指定使用什麼作為圖示，預設使用站點名稱 -->
    <a href="/" id="site-name" title="返回部落客頁">
        <span th:utext="${#strings.isEmpty(theme.config.basics.siteTitle)} ? ${site.title} : ${theme.config.basics.siteTitle}"></span>
    </a>
</div>
