<nav class="show" id="nav" th:fragment="nav(title)">
    <div id="nav-group">

        <!-- 導航欄左側 -->
        <div th:replace="~{modules/widgets/nav-left}"/>
        <div id="page-name-mask">
            <div id="page-name" >
                <a id="page-name-text" onclick="btf.scrollToDest(0,500)"
                   th:text="${#strings.isEmpty(title) ? site.title : title}"></a>
            </div>
        </div>

        <!-- 導航欄中間 -->
        <div th:replace="~{modules/widgets/nav-menu :: nav-menu}"></div>

        <!-- 導航欄右側 -->
        <div th:replace="~{modules/widgets/nav-right}"/>

    </div>
</nav>