<!-- 座右銘 -->
<div class="author-content"  th:if="${theme.config.about.textarea.size()}=='2'" th:with="texts = ${theme.config.about.textarea}">
    <div class="author-content-item maxim">
        <div class="author-content-item-tips" th:text="${texts[0].tittle}">座右銘</div>
        <span class="maxim-title">
            <span style="opacity: 0.6;margin-bottom:8px;"
                  th:text="${texts[0].textarea_up}">生活原本沉悶，</span>
            <span th:text="${texts[0].textarea_down}">但跑起來就有風。</span>
        </span>
    </div>

    <div class="author-content-item buff">
        <div class="card-content">
            <div class="author-content-item-tips" th:text="${texts[1].tittle}">特長</div>
            <span class="buff-title">
                <span style="opacity: 0.6;margin-bottom:8px;"
                      th:text="${texts[1].textarea_up}">玄學流電腦疑難問題解決
                    <span class="inline-word">專家</span>
                </span>
                <span th:text="${texts[1].textarea_down}">軟體學習能力</span>
            </span>
        </div>
    </div>
</div>